name: Metrics
on:
  # Schedule updates (every 30th minute)
  schedule: [{cron: "*/30 * * * *"}]
  # Run workflow manually
  workflow_dispatch:
  # Run workflow on each commit
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: amaaniqbal
          template: classic
          base: header, activity, community, repositories, metadata
          config_display: large
          config_timezone: Asia/Calcutta
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_lines: yes
          plugin_notable: yes
          plugin_pagespeed: yes
          plugin_pagespeed_url: .user.website
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_API_TOKEN }}
          repositories: 500
          repositories_forks: yes
